DISCORD_TOKEN=Place your Discord Bot Token here
DISCORD_DEV_GUILD_ID=Place your Discord Bot Guild ID here

NODE_ENV=prod

MONGODB_URL=Place your MongoDB instance url here
MONGODB_DB_NAME=Place your MongoDB database name here